*
!/Runtime/
!/Editor/
!/Editor/Utils/
!/Shaders/
!/Runtime/GaussianCutout.cs
!/Runtime/GaussianSplatAsset.cs
!/Runtime/GaussianSplatRenderer.cs
!/Runtime/GaussianUtils.cs
!/Runtime/GpuSorting.cs
!/Runtime/GaussianSplatting.asmdef
!/Editor/GaussianMoveTool.cs
!/Editor/GaussianRotateTool.cs
!/Editor/GaussianScaleTool.cs
!/Editor/GaussianSplatAssetCreator.cs
!/Editor/GaussianSplatAssetEditor.cs
!/Editor/GaussianSplatRendererEditor.cs
!/Editor/GaussianTool.cs
!/Editor/GaussianToolContext.cs
!/Editor/GaussianSplattingEditor.asmdef
!/Editor/Utils/FilePickerControl.cs
!/Editor/Utils/GaussianFileReader.cs
!/Editor/Utils/KMeansClustering.cs
!/Editor/Utils/PLYFileReader.cs
!/Editor/Utils/SPZFileReader.cs
!/Editor/Utils/TinyJsonParser.cs
!/Shaders/DeviceRadixSort.hlsl
!/Shaders/GaussianComposite.shader
!/Shaders/GaussianDebugRenderBoxes.shader
!/Shaders/GaussianDebugRenderPoints.shader
!/Shaders/GaussianSplatting.hlsl
!/Shaders/GpuSortFidelityFX.hlsl
!/Shaders/RenderGaussianSplats.shader
!/Shaders/SortCommon.hlsl
!/Shaders/SphericalHarmonics.hlsl
!/Shaders/SplatUtilities.compute
!/Shaders/SplatUtilities_DeviceRadixSort.compute
!/Shaders/SplatUtilities_FidelityFX.compute
!/Runtime/GaussianCutout.cs.meta
!/Runtime/GaussianSplatAsset.cs.meta
!/Runtime/GaussianSplatRenderer.cs.meta
!/Runtime/GaussianUtils.cs.meta
!/Runtime/GpuSorting.cs.meta
!/Runtime/GaussianSplatting.asmdef.meta
!/Editor/GaussianMoveTool.cs.meta
!/Editor/GaussianRotateTool.cs.meta
!/Editor/GaussianScaleTool.cs.meta
!/Editor/GaussianSplatAssetCreator.cs.meta
!/Editor/GaussianSplatAssetEditor.cs.meta
!/Editor/GaussianSplatRendererEditor.cs.meta
!/Editor/GaussianTool.cs.meta
!/Editor/GaussianToolContext.cs.meta
!/Editor/GaussianSplattingEditor.asmdef.meta
!/Editor/Utils/FilePickerControl.cs.meta
!/Editor/Utils/GaussianFileReader.cs.meta
!/Editor/Utils/KMeansClustering.cs.meta
!/Editor/Utils/PLYFileReader.cs.meta
!/Editor/Utils/SPZFileReader.cs.meta
!/Editor/Utils/TinyJsonParser.cs.meta
!/Shaders/DeviceRadixSort.hlsl.meta
!/Shaders/GaussianComposite.shader.meta
!/Shaders/GaussianDebugRenderBoxes.shader.meta
!/Shaders/GaussianDebugRenderPoints.shader.meta
!/Shaders/GaussianSplatting.hlsl.meta
!/Shaders/GpuSortFidelityFX.hlsl.meta
!/Shaders/RenderGaussianSplats.shader.meta
!/Shaders/SortCommon.hlsl.meta
!/Shaders/SphericalHarmonics.hlsl.meta
!/Shaders/SplatUtilities.compute.meta
!/Shaders/SplatUtilities_DeviceRadixSort.compute.meta
!/Shaders/SplatUtilities_FidelityFX.compute.meta
!/Runtime.meta
!/Editor.meta
!/Editor/Utils.meta
!/Shaders.meta
!/README.md
!/README.de.md
!/LICENSE.md
!/THIRD_PARTY_NOTICES.md
!/package.json
!/.gitignore
!/RELEASE_CONTENTS.json
